{% if members.has_previous or members.has_next %}
<ul class="pagination">

    <!-- First Page -->
    {% if members.has_previous %}
        <li>
            <button class="page-link nav" data-page="1" title="First Page" aria-label="First">
                &laquo;
            </button>
        </li>
    {% endif %}

    <!-- Previous -->
    {% if members.has_previous %}
        <li>
            <button class="page-link nav" data-page="{{ members.previous_page_number }}" title="Previous" aria-label="Previous">
                &lsaquo;
            </button>
        </li>
    {% endif %}

    <!-- Page Numbers -->
    {% for num in members.paginator.page_range %}
        {% if num > members.number|add:'-3' and num < members.number|add:'3' or members.paginator.num_pages <= 7 %}
            <li>
                <button class="page-link {% if members.number == num %}active{% endif %}" 
                        data-page="{{ num }}">
                    {{ num }}
                </button>
            </li>
        {% endif %}
    {% endfor %}

    <!-- Next -->
    {% if members.has_next %}
        <li>
            <button class="page-link nav" data-page="{{ members.next_page_number }}" title="Next" aria-label="Next">
                &rsaquo;
            </button>
        </li>
    {% endif %}

    <!-- Last Page -->
    {% if members.has_next %}
        <li>
            <button class="page-link nav" data-page="{{ members.paginator.num_pages }}" title="Last Page" aria-label="Last">
                &raquo;
            </button>
        </li>
    {% endif %}

</ul>
{% endif %}